on init
    setenforce 0

    insmod /nand.ko
    insmod /sw-device.ko debug_mask=0xff ctp_mask=1
    insmod /sunxi-keyboard.ko
    insmod /disp.ko
    insmod /lcd.ko
    insmod /hdmi.ko

    mkdir /extsd

    # mount bootloader partition and remove recovery.txt marker
    mkdir /bootloader
    mount vfat /dev/block/mmcblk0p1 /bootloader rw wait
    rm /bootloader/recovery.txt

service console /sbin/busybox sh
    class core
    seclabel u:r:shell:s0
    console

service watchdogd /sbin/watchdogd 60 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
